.limit-height {
  height: 90vh;
  overflow-y: scroll;
}

.limit-height::-webkit-scrollbar {
  width: 10px;
}

.limit-height::-webkit-scrollbar-track {
  background-color: #fff3e3;
}

.limit-height::-webkit-scrollbar-thumb {
  background-color: #b88e2f;
}

.limit-height::-webkit-scrollbar-thumb:hover {
  background-color: #987011;
}

.limit-height::-webkit-scrollbar-button {
  display: none;
}
