.form {
  padding: 2rem;
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #b88e2f;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
